/**----------------------------------------------------------------------**/
/*               ESTILOS PARA MEDIOS MOVILES                              */
/**----------------------------------------------------------------------**/

body{
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

.ui-menu-button{
	background: url(../../../include/images/design/menuWapBG.jpg) center center no-repeat;
	height: 40px;
	text-align: center;
}

#iMenu table{
	border: 1px solid #cfe0fa;
}

#iMenu tr{
	width: 90%;
}

.ui-parent{
	text-decoration: none;
	color: #101055;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
}

.ui-item{
	color: #101055;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	cursor: pointer;
	text-decoration: none;
}

/**-----------------------BORDES------------------------**/
#iMenu{
	width: 90%;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5px;
}

#iMenu b.ui-round-top {
	display: block;
	background: #FFF;
}

#iMenu b.ui-round-bottom {
	display: block;
	background: #FFF;
}

#iMenu b.ui-round-top b {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #cfe0fa;
}

#iMenu b.ui-round-bottom b {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #cfe0fa;
}

#iMenu b.ui-line-one {
	margin: 0 5px;
}

#iMenu b.ui-line-two {
	margin: 0 3px;
}

#iMenu b.ui-line-three {
	margin: 0 2px;
}

#iMenu b.ui-round-top b.ui-line-four {
	margin: 0 1px;
	height: 2px;
}

#iMenu b.ui-round-bottom b.ui-line-four {
	margin: 0 1px;
	height: 2px;
}


